{% extends "main/layout.html" %}
{% set active_page = 4 %}
{% block content %}
    <form action="" method="POST">
        <h2>Register</h2>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email(class="form-control") }}
            <div class="small text-danger">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="college">College</label>
            {{ form.college(class="form-control") }}
            <div class="small text-danger">
                {% for error in form.college.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class="form-control") }}
            <div class="small text-danger">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            {{ form.confirm_password(class="form-control") }}
            <div class="small text-danger">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock content %}